.main__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #e4f0fc;
  height: 100vh;
  padding: 2px 120px;
}

.main__container h1 {
  align-self: flex-start;
}

.main__container {
  .table__container {
    .waiting {
      color: #ff8d36;
      background-color: #fef2e5;
      border-radius: 4px;
      border: 0.5px solid #ff8d36;
      text-transform: capitalize;
      ::before {
        background-color: #ff9849;
      }
    }
    .approved {
      color: #31afa3;
      background-color: #effdfd;
      border-radius: 4px;
      border: 0.5px solid #31afa3;
      text-transform: capitalize;
      ::before {
        background-color: #1ac1b1;
      }
    }
    .rejected {
      color: #c63233;
      background-color: #fdeded;
      border-radius: 4px;
      border: 0.5px solid #c63233;
      text-transform: capitalize;
      ::before {
        background-color: #c63233;
      }
    }
  }
}
